@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family:
		system-ui,
		-apple-system,
		sans-serif;
}

body {
	@apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

pre {
	@apply m-0;
}

code {
	@apply text-sm;
}

pre code {
	@apply block;
}
